{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="order">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control" id="orderBy">
                    <option value="id">Latest items</option>
                    <option value="highest">Highest price</option>
                    <option value="lowest">Lowest price</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="products">
        <div class="item">
            {% for product in pagination %}
                <div class="col-md-3">
                    <a href="{{ path('show_product', {'id' : product.id}) }}">
                        <img src="{{ app.request.getUriForPath(vich_uploader_asset(product, 'imageFile')) }}" class="img-thumbnail center-block" alt="{{ product.name }}" />
                    </a>
                    <h4 class="text-center">{{ product.name }}</h4>
                    <p class="text-center">&euro;{{ product.price }} </p>
                    <input type="number" class="form-control text-center" value="{{ product.quantity }}">
                    <a class="btn btn-success btn-sm center-block" href="{{ path('add_to_cart', {'id' : product.id}) }}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-2 col-md-offset-5">
            <div class="navigation">	
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}