{% extends 'base.html.twig' %}

{% block body %}
    
    <h2 class="text-center">Requests to buy from you</h2>
    
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:25%">Product</th>
                <th style="width:25%">Price</th>
                <th style="width:25%">Quantity</th>
                <th style="width:25%">From</th>
            </tr>
        </thead>
        <tbody>
            {% for products in pagination %}
                {% for purchaseProduct in products.purchases %}
                    <tr>
                        <td data-th="Product">
                                <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="{{ app.request.getUriForPath(vich_uploader_asset(purchaseProduct.product, 'imageFile')) }}" alt="..." class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                                <h4 class="nomargin">{{ purchaseProduct.product.name }}</h4>
                                                <p>{{ purchaseProduct.product.description }}</p>
                                        </div>
                                </div>
                        </td>
                        <td data-th="Price">&euro;{{ purchaseProduct.product.price }}</td>
                        <td data-th="Quantity">
                            {{ purchaseProduct.quantity }}
                        </td>
                        <td data-th="From">
                            {{ purchaseProduct.purchase.user.username }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                    <td><a href="{{ path('index') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="navigation">	
                        {{ knp_pagination_render(pagination) }}
                    </td>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}
