{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="register">
        <div class="row">
                {{ form_row(form.email, {
                    'label': 'Email',
                    'attr': {'class': 'form-control'}
                }) }}
                
                {{ form_row(form.username, {
                    'label': 'Username',
                    'attr': {'class': 'form-control'}
                }) }}

                {{ form_row(form.plainPassword.first, {
                    'label': 'Password',
                    'attr': {'class': 'form-control'
                }}) }}

                {{ form_row(form.plainPassword.second, {
                    'label': 'Confirm password',
                    'attr': {'class': 'form-control'
                }}) }}

                <button type="submit" class="btn btn-success form-control"/>Register</button>
                
        </div>
    </div>
{{ form_end(form) }}
