{% extends 'base.html.twig' %}

{% block body %}
    
    {% if cart is empty or cart.products is empty %}
        <p>Cart is empty</p>
    {% else %}
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart.products %}
                    <tr class="item" data-product-id="{{ product.id }}" data-update="1">
                        <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs">
                                        <img src="{{ app.request.getUriForPath(vich_uploader_asset(product, 'imageFile')) }}" alt="..." class="img-responsive"/>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">{{ product.name }}</h4>
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                        </td>
                        <td data-th="Price">&euro;{{ product.price }}</td>
                        <td data-th="Quantity">
                            <input type="number" class="quantity form-control text-center" value="{{ product.quantity }}" min="1" max="{{ product.quantity }}">
                        </td>
                        <td data-th="Subtotal" class="sub-total text-center">&euro;{{ product.quantity * product.price }}</td>
                        <td class="actions" data-th="">
                            <div class="add-to-cart">
                                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                            </div>
                                <a href="{{ path('remove_from_cart', { 'id' : product.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>								
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="{{ path('index') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="total hidden-xs text-center"><strong>Total &euro;{{ cart.total }}</strong></td>
                    <td><a href="{{ path('checkout') }}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    {% endif %}
    
{% endblock %}
