{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index') }}">
                  <img alt="Home" src="...">
                </a>
              </div>
              <ul class="nav navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('my') }}">My products</a></li>
                    <li><a href="{{ path('new') }}">Sell Product</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}    
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>


        <div class="products">
            <div class="item">
                {% for product in pagination %}
                    <div class="col-md-3">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-2 col-md-offset-5">
                <div class="navigation">	
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}